:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --p-bg-color: rgb(71, 71, 71);
    --s-bg-color: rgb(211, 211, 211);
    --transition-speed: 300ms;
}

body {
    color: var(--p-bg-color);
    background-color: rgb(112, 154, 182);
    margin: 0;
    padding: 0;
}

:any-link {
  text-decoration: none;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}
  
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
  
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    display: grid;
    margin-left: 5rem;
    padding: 1rem;
    place-content: center;
}

.bi-bi-house
{
    height: 60px;
    width: 60px;
}
  
  .navbar {
    position: fixed;
    background-color: var(--p-bg-color); 
    width: 5rem;
    height: 100vh;
    transition: width 600ms ease;
  }
  
  .navbar-nav {
    list-style: square;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .nav-item {
    width: 100%;
    height: auto;
  }


  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }

  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  .navbar:hover {
    width: 16rem;
  }
  
  .newp {
    height: auto;
    width: auto;
    list-style-type: none;
    align-self: start;
  }
  
  .texti {
    position: relative;
    left: 5rem;
  }
  
  .text {
    background-color: var(--s-bg-color);
    height: 5rem;
    width: 60rem;
    margin-left: 80px;
  }

  .inputext {
    position: absolute;
    right: 50rem;

    border-radius: 25px;
    height: 20rem;
    width: 20rem;
    background-color: #aaa;  
  }
